* {
  --emerald-green: #009874;
  --yellow-Red: #edae49;
  --charcoal: #252a31;
}

header {
  background: url(../IMAGES/IMG_7740cv1.jpg);
  background-size: cover;
  background-position: center;
  /* min-height: 500px; */
}

@media screen and (min-width: 601px) {
  header {
    min-height: 1000px;
  }
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

.section {
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.tabsection {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.truncate {
  padding-bottom: 0.3em;
}

footer.page-footer {
  padding: 0;
  background-color: var(--charcoal);
}

.navLink {
  /* color: var(--yellow-Red); */
  /* color: var(--charcoal); */
}

@media screen and (max-width: 600px) {
  .parallax-container {
    height: 150px;
  }

  a.brand-logo {
    font-size: 25px;
  }

  a.brand-logo.small.hide-on-med-and-up.right {
    font-size: 20px;
  }

  textarea.materialize-textarea {
    min-height: 150px;
    max-width: calc(100% - 3rem);
  }
}

div.input-field {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

textarea.materialize-textarea {
  min-height: 150px;
  max-width: calc(100% - 3rem);
}

.bs {
  padding-left: 30vw;
}

li {
  list-style-type: none;
}

.tooltipped {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.tooltipped:hover {
  background-color: var(--emerald-green) !important;
}

.social {
  padding-top: 1vw;
}

.stardiv {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mar {
  margin-bottom: 1.2em;
}

.inv {
  visibility: hidden;
}

.ltxt {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.mtxt {
  font-size: 20px !important;
}

.marbot {
  margin-bottom: 0.5em;
}

.martopmin {
  margin-top: -0.5em;
}
